[submodule "Nodel/vendor/spdlog"]
	path = Nodel/vendor/spdlog
	url = https:/github.com/gabime/spdlog
[submodule "Nodel/vendor/glfw"]
	path = Nodel/vendor/glfw
	url = https:/github.com/xiayu/glfw
[submodule "Nodel/vendor/glad"]
	path = Nodel/vendor/glad
	url = https:/github.com/xiayu/glad
[submodule "Nodel/vendor/imgui"]
	path = Nodel/vendor/imgui
	url = https:/github.com/xiayu/imgui
	branch = docking
